:root{
    --bright-yellow: #f5efeb;
    --black: #2f4156;
    --orange: #ff9900;
    --white1: #ffffff;
    --white2: #ffffff;
    --gray-red: #c8d9e6;
    --red: #567c8d;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*header*/

header {
    position: fixed;
    min-width: 1080;
    max-height: 70px;
    background-color: var(--red);
    z-index: 100;
}

.navigasi {
    display: flex;
    min-width: 2000px;
}

.navigasi .logo {
    margin-top: -15px;
    padding: 0px;
    margin-left: 50px;
    color: var(--white1);
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: xx-large;
    display: flex;
}

.navigasi .logo img {
    margin-top: 10px;
    margin-left: 5px;
}

.navigasi .logo a {
    color: var(--white1);
    font-family: "Amatic SC", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: xx-large;
}

.navigasi .nav-link {
    margin-left: 200px;
    margin-right: 50px;
    list-style: none;
    display: flex;
    font-family: "League Gothic", sans-serif;
    font-weight: 500;
    font-size: x-large;
}

.navigasi .nav-link a{
    color: var(--white1);
    text-decoration: none;
    justify-items: center;
  text-decoration: none;  
  color: var(--white1);
  padding: 5px 30px;      /* (Atas-Bawah Kiri-Kanan) */
  margin-right: 30px;
  transition-duration: 0.2s;
}

.navigasi .nav-link a:hover {
    color: var(--red);
    background-color: var(--bright-yellow);
    border-radius: 15px;
}

/*Homepage*/

.homepage {
    background-color: var(--red);
    max-height: 750px;
    display: flex;
}

.hola {
    display: flex;
    flex-direction: column;
    padding: 75px 100px;
    font-family: "League Gothic", sans-serif;
}

.hola h3 {
    color: var(--bright-yellow);
    font-size: 60px;
    font-weight: 200;
}

.hola .audrey {
    margin-left: 30px;
    margin-top: -150px;
    display: flex;
}

.hola .audrey h2 {
    font-size: 100px;
}

.hola .audrey h1 {
    margin-left: 30px;
    font-size: 160px;
    line-height: 0.7;
    color: transparent;
    -webkit-text-stroke: 2px var(--white1);
}

.hola .audrey h1 p {
    margin-top: 30px;
    margin-left: 30px;
}

.pro p {
    font-family: "League Gothic", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: var(--white1);
    background-color: var(--black);
    padding: 2px 50px;
    width: fit-content;
    margin: auto;
    margin-top: -200px;
}

.first-pic .passion-icon {
    margin-top: -100px;
    display: flex;
    color: var(--black);
    background-color: var(--orange);
    width: fit-content;
    border-radius: 50px;
    justify-self: center;
    font-size: 25px;
    padding: 10px;
}

.code-icon {
    padding: 5px 10px;
    margin-right: 10px;
}

.paintbrush-icon{
    padding: 5px 10px;
    margin-left: 10px;
}

.code-icon :hover {
    color: var(--bright-yellow);
}

.paintbrush-icon :hover {
    color: var(--bright-yellow);
}

.homepage .first-pic img {
    height: 350px;
    width: 350px;
    padding: 130px 50px;
    border-radius: 100%;
}

/* About Me */

.about-me {
    max-height: 675px;
    width: fit-content;
    display: flex;
    z-index: 2;
    width: 1200px;
}

.about-me .background-me {
    z-index: -100;
    margin-right: -1250px;
    display: flex;
    flex-direction: row;
    filter: blur(5px);
}

.about-me .background-me .one {
    height: 675px;
    width: 505px;
}

.aboutme-left {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    margin-top: -50px;
}

.aboutme-left .aboutme-title h1 {
    font-family: "League Gothic", sans-serif;
    font-size: 100px;
    font-weight: 200;
    text-decoration: underline;
    margin-bottom: 75px;
    color: var(--bright-yellow);
}

.aboutme-left .aboutme-title h2 {
    z-index: -2;
    font-family: "League Gothic", sans-serif;
    font-size: 100px;
    font-weight: 200;
    color: var(--white2);
    -webkit-text-stroke: 4px var(--gray-red);
    margin-top: -100px;
    opacity: 0.3;
}

.aboutme-left .aboutme-desc {
    z-index: 0;
    margin: -250px 0px -30px 0px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    font-size: 17px;
    max-width: 500px;
    color: var(--white1);
}

.aboutme-left .aboutme-desc p {
    background: var(--black);
}

.aboutme-right {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}

.aboutme-right .mephoto {
    margin-top: 100px;
    padding: 10px;
    background-color: var(--orange);
    box-shadow: 10px 10px 0px 1px var(--red);
}

.aboutme-right .from {
    justify-items: left;
    margin-top: -250px;
}

.aboutme-right .from h5 {
    color: var(--black);
    background-color: var(--orange);
    border-radius: 20px 0px 0px 20px;
    font-family: "League Gothic", sans-serif;
    font-size: 25px;
    font-weight: 100;
    padding: 5px 30px;
    margin-left: 185px;
    box-shadow: 2px 2px 0px 1px var(--red);
}

.aboutme-right .date {
    justify-items: center;
    z-index: 2;
    margin-top: -50px;
}

.aboutme-right .date h5 {
    color: var(--white1);
    background-color: var(--red);
    border-radius: 20px 0px 0px 20px;
    font-family: "League Gothic", sans-serif;
    font-size: 25px;
    font-weight: 100;
    padding: 5px 30px;
    margin-left: 105px;
    min-width: 150px;
    box-shadow: 2px 2px 0px 1px var(--orange);
}

.aboutme-right .social ul {
    padding: 10px 30px;
    background-color: var(--black);
    list-style-type: none;
}

.aboutme-right .social ul h5 {
    color: var(--black);
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: -10px;
    font-family: "League Gothic", sans-serif;
    background-color: var(--orange);
    padding: 5px 5px;
}

.aboutme-right .social ul li {
    color: var(--white1);
    margin-top: 20px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;;
}

.aboutme-left .aboutme-interest h3 {
    margin-top: 100px;
    justify-self: center;
    color: var(--black);
    background-color: var(--orange);
    border-radius: 50px;
    font-family: "League Gothic", sans-serif;
    font-size: 22px;
    padding: 5px 20px;
    text-align: center;
    width: 150px;
}

.aboutme-left .aboutme-interest .interest {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    margin-top: 10px;
}

.aboutme-left .aboutme-interest h4 {
    justify-self: center;
    color: var(--orange);
    background-color: var(--black);
    border-radius: 50px;
    font-family: "League Gothic", sans-serif;
    font-size: 25px;
    font-weight: lighter;
    padding: 5px 20px;
    text-align: center;
    width: 150px;
}

/*Skills*/

.skills {
    background-color: var(--red);
    display: flex;
    flex-direction: row;
}

.skills-left {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}

.skills-left .interest {
    justify-items: center;
    margin-left: 40px;
    margin-top: -40px;
}

.skills-left .interest .interest-row {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    margin-top: -30px;
}

.skills-left .interest .interest-row h4 {
    justify-self: center;
    color: var(--bright-yellow);
    background-color: var(--black);
    border-radius: 50px;
    font-family: "League Gothic", sans-serif;
    font-size: 22px;
    font-weight: lighter;
    padding: 5px 20px;
    text-align: center;
    width: 150px;
}

.skills-left .language {
    margin-top: 20px;
    margin-left: -100px;
}

.skills-left .language h1 {
    color: var(--bright-yellow);
    background-color: var(--black);
    display: inline-block;
    padding: 0px 20px;
    font-family: "League Gothic", sans-serif;
    font-size: 50px;
    margin-left: 50px;
}

.skills-left .language .languages {
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    background-color: var(--bright-yellow);
    padding: 5px 0px;
}

.skills-left .language .languages .languages-content{
    padding: 0px 20px;
    justify-items: center;
}

.skills-left .language .languages .languages-content h3{
    background-color: var(--black);
    color: var(--bright-yellow);
    font-family: "League Gothic", sans-serif;
    font-weight: lighter;
    font-size: 25px;
    padding: 7.5px 50px;
    border-radius: 50px;
}

.skills-left .language .languages .languages-content h4{
    color: var(--black);
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: -10px;
    padding: 0px 50px;
}

.skills-right {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    align-items: end;
}

.skills-right .title {
    margin-top: 75px;
    margin-right: -100px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.skills-right .title h1 {
    background-color: var(--bright-yellow);
    color: var(--red);
    font-family: "League Gothic", sans-serif;
    font-weight: lighter;
    font-size: 120px;
    padding: 1px 30px;
}

.skills-right .title .back-title h2{
    -webkit-text-stroke: 2px var(--black);
    color: var(--red);
    font-family: "League Gothic", sans-serif;
    font-weight: lighter;
    font-size: 120px;
    padding: 1px 30px;
    margin-top: -100px;
    z-index: -2;
}

.skills-right .software {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: -300px;
    margin-top: 50px;
}

.skills-right .software h1 {
    margin-top: -300px;
    color: var(--red);
    background-color: var(--white1);
    padding: 1px 30px;
    font-family: "League Gothic", sans-serif;
    font-size: 50px;
}

.skills-right .software .softwares {
    display: flex;
    flex-direction: row;
}

.skills-right .software .softwares img {
    background-color: var(--black);
    padding: 5px;
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 0px 1px var(--orange);
}

.skills-left .technical {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
}

.skills-left .technical h1 {
    margin-right: auto;
    margin-top: 150px;
    color: var(--red);
    background-color: var(--white1);
    padding: 1px 30px;
    font-family: "League Gothic", sans-serif;
    font-size: 50px;
    align-self: center;
    justify-self: left;
}

/*coding skills*/
.skills-left .technical .coding {
    display: flex;
    flex-direction: row;
}

.skills-left .technical .coding h2 {
    color: var(--white1);
    font-family: "League Gothic", sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-top: -20px;
}

.skills-left .technical .coding .coding-skills {
    color: var(--white1);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: -215px;
}

.skills-left .technical .coding .coding-skills ul li {
    list-style: none;
    margin-top: 10px;
}

.skills-left .technical .coding-skills-bar {
    margin-top: 0px;
    margin-left: 75px;
}

.skills-left .technical .coding-skills-bar .html {
    width: 300px;
    height: 20px;
    background-color: var(--orange);
    margin-top: 32px;
}
.skills-left .technical .coding-skills-bar .css {
    width: 280px;
    height: 20px;
    background-color: var(--orange);
    margin-top: 15px;
}
.skills-left .technical .coding-skills-bar .js {
    width: 20px;
    height: 20px;
    background-color: var(--orange);
    margin-top: 15px;
}
.skills-left .technical .coding-skills-bar .uiux {
    width: 320px;
    height: 20px;
    background-color: var(--orange);
    margin-top: 15px;
}

/*art skills*/
.skills-left .technical .art {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.skills-left .technical .art h2 {
    color: var(--white1);
    font-family: "League Gothic", sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-top: -20px;
}

.skills-left .technical .art .art-skills {
    color: var(--white1);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: -100px;
}

.skills-left .technical .art .art-skills ul li {
    list-style: none;
    margin-top: 10px;
}

.skills-left .technical .art-skills-bar {
    margin-top: 0px;
    margin-left: 25px;
}

.skills-left .technical .art-skills-bar .anatomy {
    width: 90px;
    height: 20px;
    background-color: var(--orange);
    margin-top: 32px;
}
.skills-left .technical .art-skills-bar .color {
    width: 280px;
    height: 20px;
    background-color: var(--orange);
    margin-top: 15px;
}
.skills-left .technical .art-skills-bar .perspective {
    width: 50px;
    height: 20px;
    background-color: var(--orange);
    margin-top: 15px;
}
.skills-left .technical .art-skills-bar .style {
    width: 320px;
    height: 20px;
    background-color: var(--orange);
    margin-top: 15px;
}

.skills-left .technical .art-skills-bar .vid-editor {
    width: 250px;
    height: 20px;
    background-color: var(--orange);
    margin-top: 15px;
}

/*soft skills*/
.skills-right .soft-skill {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: -300px;
    margin-top: -100px;
}

.skills-right .soft-skill h1 {
    color: var(--red);
    background-color: var(--white1);
    padding: 1px 30px;
    font-family: "League Gothic", sans-serif;
    font-size: 50px;
}

.skills-right .soft-skill .softskills {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
}
.skills-right .soft-skill .icon {
    display: flex;
    flex-direction: column;
}

.skills-right .soft-skill .icon ul li {
    list-style: none;
    margin-top: 15px;
}

.skills-right .soft-skill .icon span {
    font-size: 50px;
    color: var(--bright-yellow);
    background-color: var(--red);
    box-shadow: 2px 2px 0px 1px var(--black);
    padding: 0px 5px;
    border-radius: 10px;
}

.skills-right .soft-skill .soft-skills {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.skills-right .soft-skill .soft-skills ul li {
    list-style: none;
    font-family: "League Gothic", sans-serif;
    font-weight: lighter;
    font-size: 25px;
    background-color: var(--black);
    color: var(--orange);
    text-align: center;
    width: 250px;
    padding: 7px 0px;
    border-radius: 50px 0px 0px 50px;
    margin-top: 25px;
}

/*footer*/

.footer .upper {
    background-color: var(--bright-yellow);
    height: 175px;
    width: 100%;
    padding: 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer .upper .logo img {
    height: 175px;
    width: 175px;
    margin-left: -250px;
    display: flex;
}

.footer .upper .separator {
    height: 125px;
    width: 3px;
    background-color: var(--red);
    border-radius: 100px;
    align-self: center;
    margin: 0px 100px 0px -50px;
}

.footer .upper .contact {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-self: center;
    margin-left: 100px;
    margin-top: 20px;
}

.footer .upper .contact .contact-view {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footer .upper .contact .contact-view .contact-me a {
    font-family: "League Gothic", sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: var(--bright-yellow);
    background-color: var(--red);
    padding: 2px 50px;
    border-radius: 50px;
}

.footer .upper .contact .contact-view .view-work a {
    font-family: "League Gothic", sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: var(--bright-yellow);
    background-color: var(--red);
    padding: 2px 50px;
    border-radius: 50px;
}

.footer .upper .contact .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer .upper .contact .socials ul {
    margin-top: 20px;
    margin-left: -50px;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.footer .upper .contact .socials ul li {
    padding: 20px;
    color: var(--red);
    font-size: 25px;
}

.footer .under {
    background-color: var(--black);
    height: 50px;
    width: 100%;
    color: var(--bright-yellow);
    justify-self: center;
    align-content: center;
    text-align: center;
    font-family: "Arimo", sans-serif;
}