:root{
    --bright-yellow: #f2edd8;
    --black: #160303;
    --orange: #ff9900;
    --white1: #fffcfc;
    --white2: #fff6f5;
    --gray-red: #bc837c;
    --red: #c03d3d;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    width: auto;
    max-height: 70px;
    background-color: var(--red);
}

.navigasi {
    display: flex;
}

.navigasi .logo {
    margin-top: -15px;
    padding: 0px;
    margin-left: 50px;
    color: var(--white1);
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: xx-large;
    display: flex;
}

.navigasi .logo img {
    margin-top: 10px;
    margin-left: 5px;
}

.navigasi .logo a {
    color: var(--white1);
    font-family: "Amatic SC", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: xx-large;
}

.navigasi .nav-link {
    margin-left: auto;
    margin-right: 100px;
    list-style: none;
    display: flex;
    font-family: "League Gothic", sans-serif;
    font-weight: 500;
    font-size: x-large;
}

.navigasi .nav-link a{
    color: var(--white1);
    text-decoration: none;
    justify-items: center;
  text-decoration: none;  
  color: var(--white1);
  padding: 5px 30px;      /* (Atas-Bawah Kiri-Kanan) */
  margin-right: 20px;
  transition-duration: 0.2s;
}

.navigasi .nav-link a:hover {
    color: var(--red);
    background-color: var(--bright-yellow);
    border-radius: 15px;
}

