:root{
    --bright-yellow: #f2edd8;
    --black: #160303;
    --orange: #ff9900;
    --white1: #fffcfc;
    --white2: #fff6f5;
    --gray-red: #bc837c;
    --red: #c03d3d;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*header*/

header {
    position: fixed;
    min-width: 1080;
    max-height: 70px;
    background-color: var(--red);
    z-index: 100;
}

.navigasi {
    display: flex;
    min-width: 2000px;
}

.navigasi .logo {
    margin-top: -15px;
    padding: 0px;
    margin-left: 50px;
    color: var(--white1);
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: xx-large;
    display: flex;
}

.navigasi .logo img {
    margin-top: 10px;
    margin-left: 5px;
}

.navigasi .logo a {
    color: var(--white1);
    font-family: "Amatic SC", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: xx-large;
}

.navigasi .nav-link {
    margin-left: 200px;
    margin-right: 50px;
    list-style: none;
    display: flex;
    font-family: "League Gothic", sans-serif;
    font-weight: 500;
    font-size: x-large;
}

.navigasi .nav-link a{
    color: var(--white1);
    text-decoration: none;
    justify-items: center;
  text-decoration: none;  
  color: var(--white1);
  padding: 5px 30px;      /* (Atas-Bawah Kiri-Kanan) */
  margin-right: 30px;
  transition-duration: 0.2s;
}

.navigasi .nav-link a:hover {
    color: var(--red);
    background-color: var(--bright-yellow);
    border-radius: 15px;
}

/*Portfolio*/

.portfolio {
    background-color: var(--red);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.portfolio h1 {
    text-align: center;
    color: var(--bright-yellow);
    background-color: var(--bright-yellow);
    font-size: 50px;
    -webkit-text-stroke: 1px var(--red);
    font-family: "League Gothic", sans-serif;
    margin-top: 100px;
    margin-bottom: -25px;
}

.portfolio .body {
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.portfolio .body .menu {
    margin-top: -25px;
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 100px;
}

.portfolio .body .menu h2 {
    font-family: "League Gothic", sans-serif;
    color: var(--white1);
    font-weight: 400;
    font-size: 30px;
}

.portfolio .body .separator {
    background-color: var(--white1);
    height: 5px;
    width: 750px;
    align-self: center;
}

.portfolio .body .medias {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.portfolio .body .medias .web-media {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 30px;
}

.portfolio .body .medias .web-media .container-web {
    width: 400px;
    height: 380px;
    border-radius: 20px;
    box-shadow: 4px 4px 0px 6px var(--bright-yellow);
    align-content: center;
}

.portfolio .body .medias .web-media .container-web img {
    margin-top: -10px;
    width: 360px;
    height: 180px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.portfolio .body .medias .web-media .container-web h3 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    justify-self: center;
    color: var(--white1);
}

.portfolio .body .medias .web-media .container-web h4 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    justify-self: center;
    color: var(--white1);
    margin-top: -20px;
}

.portfolio .body .medias .web-media .container-web p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    justify-self: center;
    color: var(--bright-yellow);
}


.portfolio .body .medias .art-media {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 40px;
    margin-top: 30px;
}

.portfolio .body .medias .art-media .container-art-rec {
    width: 250px;
    height: 380px;
    border-radius: 20px;
    box-shadow: 4px 4px 0px 6px var(--bright-yellow);
    align-content: center;
}

.portfolio .body .medias .art-media .container-art-rec img {
    margin-top: 10px;
    width: 210px;
    height: 280px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.portfolio .body .medias .art-media .container-art-rec h3 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    justify-self: center;
    color: var(--white1);
}

.portfolio .body .medias .art-media .container-art-squ {
    width: 250px;
    height: 320px;
    border-radius: 20px;
    box-shadow: 4px 4px 0px 6px var(--bright-yellow);
    align-content: center;
}

.portfolio .body .medias .art-media .container-art-squ img {
    margin-top: 10px;
    width: 210px;
    height: 210px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.portfolio .body .medias .art-media .container-art-squ h3 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    justify-self: center;
    color: var(--white1);
}






/*footer*/

.footer .upper {
    background-color: var(--bright-yellow);
    height: 175px;
    width: 100%;
    padding: 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer .upper .logo img {
    height: 175px;
    width: 175px;
    margin-left: -250px;
    display: flex;
}

.footer .upper .separator {
    height: 125px;
    width: 3px;
    background-color: var(--red);
    border-radius: 100px;
    align-self: center;
    margin: 0px 100px 0px -50px;
}

.footer .upper .contact {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-self: center;
    margin-left: 100px;
    margin-top: 20px;
}

.footer .upper .contact .contact-view {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footer .upper .contact .contact-view .contact-me a {
    font-family: "League Gothic", sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: var(--bright-yellow);
    background-color: var(--red);
    padding: 2px 50px;
    border-radius: 50px;
}

.footer .upper .contact .contact-view .view-work a {
    font-family: "League Gothic", sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: var(--bright-yellow);
    background-color: var(--red);
    padding: 2px 50px;
    border-radius: 50px;
}

.footer .upper .contact .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer .upper .contact .socials ul {
    margin-top: 20px;
    margin-left: -50px;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.footer .upper .contact .socials ul li {
    padding: 20px;
    color: var(--red);
    font-size: 25px;
}

.footer .under {
    background-color: var(--black);
    height: 50px;
    width: 100%;
    color: var(--bright-yellow);
    justify-self: center;
    align-content: center;
    text-align: center;
    font-family: "Arimo", sans-serif;
}